layout {

    focus-ring {
        active-color   "#67e48d"
        inactive-color "#1d201e"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#67e48d"
        inactive-color "#1d201e"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#1d201e70"
    }

    tab-indicator {
        active-color   "#67e48d"
        inactive-color "#313532"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#67e48d80"
    }
}

recent-windows {
    highlight {
        active-color "#67e48d"
        urgent-color "#fd4663"
    }
}
