layout {

    focus-ring {
        active-color   "#e49767"
        inactive-color "#261d18"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#e49767"
        inactive-color "#261d18"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#261d1870"
    }

    tab-indicator {
        active-color   "#e49767"
        inactive-color "#3f3027"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#e4976780"
    }
}

recent-windows {
    highlight {
        active-color "#e49767"
        urgent-color "#fd4663"
    }
}
