animations {
        // directional effect khi mở cửa sổ
        window-open {
            custom-shader r"

            // Ported from skwd-wall directional transition

            vec4 open_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_clamped_progress;
                vec2 uv = coords_geo.xy;
                vec3 tc = niri_geo_to_tex * vec3(uv, 1.0);
                vec4 win = texture2D(niri_tex, tc.st);

                vec2 dir = vec2(0.0, 1.0);
                vec2 q = uv + p * sign(dir);
                float inside = step(0.0, q.y) * step(q.y, 1.0) * step(0.0, q.x) * step(q.x, 1.0);

                return win * (1.0 - inside);
            }
            "
            duration-ms 500
            curve "ease-out-cubic"
        }
        // directional effect khi đóng cửa sổ
        window-close {
            custom-shader r"

            // Ported from skwd-wall directional transition

            vec4 close_color(vec3 coords_geo, vec3 size_geo) {
                float p = niri_clamped_progress;
                vec2 uv = coords_geo.xy;
                vec3 tc = niri_geo_to_tex * vec3(uv, 1.0);
                vec4 win = texture2D(niri_tex, tc.st);

                vec2 dir = vec2(0.0, 1.0);
                vec2 q = uv + (1.0 - p) * sign(dir);
                float inside = step(0.0, q.y) * step(q.y, 1.0) * step(0.0, q.x) * step(q.x, 1.0);

                return win * (1.0 - inside);
            }
            "
            duration-ms 500
            curve "ease-out-cubic"
        }

        // Di chuyển cửa sổ
        window-movement {
            spring damping-ratio=0.8 stiffness=1000 epsilon=0.0001
        }
        // Thay đổi kích thước cửa sổ
        window-resize {
            spring damping-ratio=0.9 stiffness=1000 epsilon=0.0001
        }
        // Thông báo cấu hình
        config-notification-open-close {
            spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
        }
        // Giao diện chụp màn hình
        screenshot-ui-open {
            duration-ms 200
            curve "ease-out-quad"
        }
        // Chế độ xem tổng quan (Overview)
        overview-open-close {
            spring damping-ratio=0.85 stiffness=700 epsilon=0.0001
        }
    }
