    layout {
        gaps 5
        center-focused-column "never" 
  
        focus-ring {
            width 2
            active-color "#333333"
            inactive-color "#333333"  
        }

        background-color "transparent" 

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }

        struts {}
    }