    // Bo tròn tất cả cửa sổ
    window-rule {
        geometry-corner-radius 6
        clip-to-geometry true
        open-maximized true
    }

    window-rule {
        match app-id="^steam_app_"
        geometry-corner-radius 3
        clip-to-geometry true
    }

    window-rule {
        match is-active=false
        focus-ring {
            on
        }
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }

    layer-rule {
        match namespace="^noctalia-bar.*"
        geometry-corner-radius 0
        opacity 0.9
    }

    layer-rule {
        match namespace="^noctalia-background.*"
        geometry-corner-radius 0
    }

    // Opacity cho VS Code
    window-rule {
        match app-id="^code$"
                opacity 0.95
        draw-border-with-background false
    }

    // Opacity cho AntiGravity IDE
    window-rule {
        match app-id="^antigravity-ide$"
                opacity 0.95
        draw-border-with-background false
    }

    // Opacity cho AntiGravity
    window-rule {
        match app-id="^Antigravity$"
                opacity 0.95
        draw-border-with-background false
    }

    window-rule {
        match app-id="^zen$"
        opacity 0.98
        draw-border-with-background false
    }